/* Pronoun settings UI */
.persona_pronoun_settings_container {
    margin: 10px 0;
}

.persona_pronoun_settings_container .flex-container {
    gap: 10px;
}

.pronoun_preset_buttons {
    gap: 10px;
    flex-wrap: wrap;
}

.pronoun_preset_buttons .menu_button {
    min-width: 90px;
    padding: 3px 4px;
    text-align: center;
    font-size: calc(var(--mainFontSize) * 0.8);
}

#pronouns_open_replacer {
    width: auto;
}

.popup .pronoun-replacer-table {
    margin: 10px auto;
    text-align: left;
    border-collapse: collapse;
}
.popup .pronoun-replacer-table td {
    padding: 0px 5px;
}
